*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  color: #3d3d3d;
  margin: 0 auto;
  width: 360px;
  height: 640px;
}

.route-data {
  background-color: #FFFFFF;
  border: .5px solid #DDDDDD;
}

.time {
  color: #FFFFFF;
  font-weight: 300;
}

nav.status-bar {
  margin: 0 auto;
  background-color: #2F3E9E;
  position: sticky;
  padding: 6px;
  width: 360px;
  height: 24px;
}

h4 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2em;
  float: right;
  padding-right: 90px;
}

.status-icon {
  float: right;
}

nav.top {
  margin: 0 auto;
  background-color: #3E50B4;
  position: sticky;
  padding: 15px 0 10px 16px;
  width: 360px;
  height: 56px;
}

nav.bottom {
  position: sticky;
  padding: 14px 0 10px 0px;
  width: 360px;
  height: 48px;
  background: #000000;
}

.status {
  display: inline-block;
  width: 100%;
}

.direction {
  border-top: 1px solid #DDDDDD;
  background-color: #DDDDDD;
  padding: 5px 0 5px 0;
}

h2 {
  color: #777777;
  padding-left: 16px;
  font-size: 1.2em;
  font-weight: 300;
}

.buses {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
}

.line {
  float:left;
  width: 76px;
  padding-left: 16px;
  height: 20px;
}

.destination {
  float: left;
  width: 150px;
}
.frequency {
  float: left;
  width: 120px;
}

h1 {
  font-size: 1.3em;
  font-weight: 450;
  padding: 5px 0px 5px 0px;
}

.line h3 {
  font-size: 1.3em;
  padding: 4px 0 4px 0;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
  padding: 5px 0 5px 0;
}

.nav-icon {
  width: 360px;
  display: inline-block;
}

.icon-left {
  float: left;
  width: 150px;
  padding-left: 72px;
}

.icon-right {
  float: left;
  width: 20px;
}

.icon-center {
float: left;
width: 100px;
}

.material-icons.m-12 {
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  padding-right: 3px;
}

.material-icons {
  color: rgba(255, 255, 255, 1);
}

.material-icons.m-18 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
