*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: system-ui, sans-serif;
  font-size: 11px;
}

.route-data {
  margin: 0 auto;
  width: 360px;
  background-color: #FFFFFF;
  border: .5px solid #757575;
}

nav.status-bar {
  margin: 0 auto;
  background-color: #2F3E9E;
  position: sticky;
  padding: 6px;
  width: 360px;
  height: 24px;
}

h4 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2em;
  float: right;
  padding-right: 90px;
}

.status-icon {
  float: right;
}

nav.top {
  margin: 0 auto;
  background-color: #3E50B4;
  position: sticky;
  padding: 15px 0 10px 16px;
  width: 360px;
  height: 56px;
}

nav.bottom {
  position: sticky;
  padding: 12px 0 10px 16px;
  width: 360px;
  height: 48px;
  background: #000000;
}

.status {
  display: inline-block;
  width: 100%;
}

.line {
  float:left;
  width: 76px;
  padding-left: 16px;
}
.destination {
  float: left;
  width: 150px;
}
.frequency {
  float: left;
  width: 120px;
}

.direction {
  border-top: 1px solid #757575;
  background-color: #757575;
}

h2 {
  color: #FFFFFF;
  line-height: 1.5em;
  padding-left: 16px;
  font-size: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 1.3em;
  font-weight: 550;
  line-height: 1.2em;
  padding: 3px;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
  padding: 3px;
}

.nav-icon {
  width: 360px;
  display: inline-block;
}

.icon-left {
  float: left;
  width: 149px;
  padding-left: 16px;
}

.icon-right {
  float: left;
  width: 20px;
}

.icon-center {
float: left;
width:129px;
}
