*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  color: #3d3d3d;
  margin: 0 auto;
  width: 360px;
  height: 640px;
}

.route-data {
  background-color: #FFFFFF;
}

.time {
  color: #FFFFFF;
  font-weight: 300;
}

nav.status-bar {
  margin: 0 auto;
  background-color: #2F3E9E;
  position: sticky;
  left: 50;
  top:0;
  padding: 6px;
  width: 360px;
  height: 24px;
}

h4 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2em;
  float: right;
  padding-right: 90px;
  position: sticky;
  left: 50;
  top: 23.5px;
}

.status-icon {
  float: right;
}

nav.top {
  margin: 0 auto;
  background-color: #3E50B4;
  position: sticky;
  left: 50;
  top: 23.5px;
  padding: 15px 0 10px 16px;
  width: 360px;
  height: 56px;
}

nav.header {
  margin: 0 auto;
  background-color: #3E50B4;
  position: sticky;
  left: 50;
  top: 79px;
  width: 360px;
  height: 30px;
}

hr {
  width: 328px;
  background-color: #fdfdfd;
  height: .5px;
  margin-block-start: .5px;
  margin-block-end: .5px;
  border-width: .5px;
}

h1 {
  color: #F7F7F7;
  font-size: 1.4em;
  font-weight: 350;
  position: sticky;
  left: 50;
  top: 81px;
  padding: 7px 0px 5px 0px;
}

nav.bottom {
  position: sticky;
  padding: 14px 0 10px 0px;
  left: 50;
  bottom: 0;
  width: 360px;
  height: 48px;
  background: #000000;
}

.buses.oos {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
}

.left, .left.oos{
  display: inline-block;
  width: 226px;
  height: 50px;
  padding: 5px 0 5px 0;
}

.right, .right.oos {
  display: inline-block;
  width: 120px;
  margin-right:10px;
  padding: 7px 0 5px 0;
}

.status {
  display: inline-block;
  width: 100%;
}

.direction {
  background-color: #e8e8ea;
  padding: 5px 0 5px 0;
}

.direction.reroute {
  background-color: #c91616;
  padding: 5px 0 5px 0;
}

.direction.oos {
  background-color: #8c8e9a;
  padding: 5px 0 5px 0;
}


.direction.reroute h2 {
  color: #FFFFFF;
}

.direction.oos h2, .left.oos h3, .left.oos h5, .right.oos h3, .right.oos h5 {
  font-style: italic;
  color: #CCCCCC;
}

h2 {
  color: #777777;
  padding-left: 16px;
  font-size: 1.2em;
  font-weight: 300;
}

.line {
  float:left;
  width: 76px;
  padding-left: 16px;
  height: 20px;
}

.destination {
  float: left;
  width: 150px;
}

.arriving {
  float: left;
  width: 120px;
}

.col1 {
  float:left;
  width: 76px;
  padding: 6px 0 0 16px;
  height: 20px;
}

.col2 {
  float: left;
  width: 150px;
  padding-top:6px;
}

.col3 {
  float: left;
  width: 120px;
  height: 20px;
}

.col1 h3 {
  font-size: 1.3em;
  padding: 4px 0 4px 0;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
  padding: 5px 0 5px 0;
}

.col3 h5 {
  float: left;
  width: 81px;
  font-size: .8em;
  font-style:italic;
  font-weight: 300;
  color: #3d3d3d;
  padding: 5px 0 5px 0;
}

.col1.oos {
  float:left;
  width: 76px;
}

.col2.oos {
  float: left;
  width: 150px;
}

.col3.oos {
  float: left;
  width: 120px;
}

.nav-icon {
  width: 360px;
  display: inline-block;
}

.icon-left {
  float: left;
  width: 150px;
  padding-left: 72px;
}

.icon-right {
  float: left;
  width: 20px;
}

.icon-center {
float: left;
width: 100px;
}

.material-icons.m-12 {
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  padding-right: 3px;
}

.material-icons {
  color: rgba(255, 255, 255, 1);
}

.material-icons.m-18 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
